.main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}

.item_imgContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}

.item_contentContainer {
  flex: 1;
}

.item_infoSection {
  text-align: center;
}

.item_img {
  max-height: 80vh;
}

.cartControl {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.cartControl_top {
  display: flex;
  border: 2px solid var(--yellow-like-color-darker);
  border-radius: 20px;
  overflow: hidden;
  font-size: 1.1rem;
}

.cartControl_button {
  background-color: inherit;
  padding: 0.1em 0.5em;
  width: 5ch;
  font-size: inherit;
  font-weight: bold;
}

.cartControl_button:hover {
  background-color: rgb(0 0 0 / 4%);
}

.cartControl_button:active {
  background-color: rgb(0 0 0 / 8%);
}

.inputNumber {
  appearance: textfield;
  border-width: 0 1px;
  border-color: rgb(0 0 0 / 10%);
  text-align: center;
}

.inputNumber:focus {
  outline: none;
  border-color: rgb(0 0 0 / 40%);
}

.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.card_title {
  margin: 0;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.card_price {
  display: flex;
  gap: 0.4ch;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.card_priceSymbol {
  vertical-align: super;
  font-size: 20px;
}

.card_priceWhole {
  font-size: 2rem;
}

.rating_rate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating_icon {
  color: var(--orange-like-color);
}

.rating_number {
  font-size: 1.5rem;
}

.rating_count {
  color: rgb(0 0 0 / 50%);
}

.cartControl_submit {
  border: none;
  border-radius: 20px;
  background-color: var(--yellow-like-color);
  padding: 0.5em 1em;
  font-size: 0.8rem;
}

.cartControl_submit:hover {
  background-color: var(--yellow-like-color-darker);
}

.cartControl_submit:active {
  background-color: var(--yellow-like-color-darkest);
}

@media screen and (width >= 765px) {
  .item {
    flex-direction: row;
    gap: 1.5em;
  }
}

@media screen and (width >= 1024px) {
  .item_contentContainer {
    display: flex;
    gap: 1.5em;
    justify-content: space-between;
  }
}
