.card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 5px;
  box-shadow: 0 0 1px rgb(0 0 0 / 10%);
  padding: 0.5em;
}

.card_img {
  max-height: 100%;
}

.card_imgContainer {
  display: flex;
  justify-content: center;
  height: 10rem;
}

.cartControl {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: start;
}

.cartControl_top {
  display: flex;
  border: 2px solid var(--yellow-like-color-darker);
  border-radius: 20px;
  font-size: 1.1rem;
}

.cartControl_button {
  background-color: inherit;
  padding: 0.1em 0.5em;
  width: 5ch;
  font-size: inherit;
  font-weight: bold;
}

.inputNumber {
  appearance: textfield;
  border-width: 0 1px;
  border-color: rgb(0 0 0 / 10%);
  text-align: center;
}

.inputNumber:focus {
  outline: none;
  border-color: rgb(0 0 0 / 40%);
}

.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.card_title {
  margin: 0;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.card_price {
  display: flex;
  gap: 0.4ch;
  align-items: center;
  margin: 0;
}

.card_priceSymbol {
  vertical-align: super;
  font-size: 20px;
}

.card_priceWhole {
  font-size: 2rem;
}

.rating_rate {
  display: flex;
  align-items: center;
}

.rating_icon {
  color: var(--orange-like-color);
}

.rating_number {
  font-size: 1.5rem;
}

.rating_count {
  color: rgb(0 0 0 / 50%);
}

.cartControl_submit {
  border: none;
  border-radius: 20px;
  background-color: var(--yellow-like-color);
  padding: 0.5em 1em;
  font-size: 0.8rem;
}

.cartControl_submit:hover {
  background-color: var(--yellow-like-color-darker);
}
