.card {
  border: 1px solid black;
  padding: 0.5em;
}

.card_img {
  max-height: 100%;
}

.card_imgContainer {
  display: flex;
  justify-content: center;
  height: 10rem;
}

.cartControl {
  display: flex;
  gap: 0.5em;
}

.inputNumber {
  appearance: textfield;
}

.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
