.img {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
}

.card {
  border: 1px solid black;
  padding: 0.5em;
}

.cardImg {
  max-height: 100%;
}

.cardImgContainer {
  display: flex;
  justify-content: center;
  height: 10rem;
}

.cartCount {
  display: flex;
  gap: 0.5em;
}

.cartCountCount {
  border: solid black 1px;
  padding: 0.25em 0.5em;
  text-align: center;
}
