.main {
  flex: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 4em 0;
  text-align: center;
  font-size: 2rem;
}

.hero_link {
  align-self: center;
  border-radius: 20px;
  background-color: var(--yellow-like-color);
  padding: 0.8em 3rem;
  font-size: 1rem;
}

.hero_link:hover {
  background-color: var(--yellow-like-color-darker);
}
