.root__body {
  margin: 0 auto;
}

.page {
  padding: 1em;
}

.page__container {
  margin: 0 auto;
  max-width: 90%;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
}
