:root {
  --orange-like-color: #f08804;
  --yellow-like-color: #ffd814;
  --yellow-like-color-darker: #f0cc17;
  --yellow-like-color-darkest: #e2c013;
}

.root__body {
  margin: 0;
}

.page__container {
  margin: 0 auto;
  outline: 1px solid pink;
  width: 90%;
  max-width: 1300px;
}

.page__h1 {
  margin: 0;
}

.page__p {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
}

.ul {
  padding: 0;
  list-style: none;
}

.a {
  text-decoration: none;
  color: inherit;
}

.button {
  border: none;
}
