.root__body {
  margin: 0;
}

.page__container {
  margin: 0 auto;
  outline: 1px solid pink;
  width: 90%;
  max-width: 1300px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
}

.ul {
  padding: 0;
  list-style: none;
}

.a {
  text-decoration: none;
  color: inherit;
}

.button {
  border: none;
}
